<h1>Quản lý người dùng</h1>
<hr />
<div class="wrap">
  <form [formGroup]="formGroupCreate" class="form-wrap col-12">
    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <label class="col-12 col-form-label fw-bold fs-6"> Tên hiển thị </label>
      <input
        type="text"
        pInputText
        class="form-control col-12"
        placeholder="Tên hiển thị"
        name="lName"
        formControlName="full_name"
        (keyup.enter)="search()"
      />
    </div>

    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <label class="col-12 col-form-label fw-bold fs-6"> Tên đăng nhập </label>
      <input
        class="form-control col-12"
        type="text"
        pInputText
        name="lName"
        placeholder="Tên đăng nhập"
        formControlName="username"
        (keyup.enter)="search()"
      />
    </div>

    <div
      class="row col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 col-xxl-6 mb-6 search"
    >
      <button type="button" class="btn btn-primary" (click)="search()">
        <ng-container *ngIf="!isLoading">Tìm kiếm</ng-container>
        <ng-container *ngIf="isLoading">
          <span clas="indicator-progress" [style.display]="'block'">
            Please wait...{{ " " }}
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</div>
<div class="list-item">
  <div>
    <h2 class="m-0">Danh sách người dùng</h2>
  </div>
  <div class="create">
    <button
      type="button"
      class="btn btn-success"
      (click)="openCreateModifyUserModal(null)"
    >
      Thêm mới
    </button>
  </div>
</div>
<div class="table-responsive card-body py-4">
  <table
    class="table align-middle table-row-dashed fs-6 gy-5"
    id="kt_table_users"
  >
    <thead>
      <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
        <th class="min-w-20px">STT</th>
        <th class="min-w-125px">Ảnh đại diện</th>
        <th class="min-w-125px">Tên đăng nhập</th>
        <th class="min-w-125px">Tên hiển thị</th>
        <th class="min-w-125px">Địa chỉ</th>
        <th class="min-w-125px">Số điện thoại</th>
        <th class="min-w-125px">Email</th>
        <th class="min-w-125px">Trạng thái</th>
        <th class="min-w-100px action">Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
      <tr *ngFor="let user of userList; let i = index">
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>
          <img
            *ngIf="user.image"
            style="
              width: 50px;
              height: 50px;
              border-radius: 50%;
              cursor: pointer;
            "
            src="{{ url }}{{ user.image?.path }}"
            (click)="showImage(i)"
            alt=""
          />
          <app-zoom-image
            *ngIf="showZoomImage == i"
            [fileItems]="[user.image]"
            (dataReturn)="handleData(data)"
          ></app-zoom-image>
          <img
            *ngIf="!user.image"
            style="width: 50px; height: 50px; border-radius: 50%"
            src="./../../../../../../assets/media/avatars/user.jpg"
            alt=""
          />
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.email }}</td>
        <td
          [ngClass]="{
            active: user.is_active == true,
            non_active: user.is_active == false
          }"
        >
          {{ user.is_active == true ? "Kích hoạt" : "Đã dừng" }}
        </td>
        <td class="action">
          <!-- <button
            class="btn btn-sm btn-outline-success"
            style="margin-right: 5px"
            (click)="openCreateModifyUserModal(user)"
          >
            Edit
          </button>
          <button class="btn btn-sm btn-outline-danger">Delete</button> -->

          <i
            class="fa-solid fa-highlighter"
            pTooltip="Chỉnh sửa phiếu"
            tooltipPosition="bottom"
            style="color: rgb(40, 122, 209); margin-right: 5px"
            (click)="openCreateModifyUserModal(user)"
          ></i>
          <i
            class="fa-solid fa-unlock-keyhole"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            style="color: rgb(202, 92, 29); margin-right: 10px"
            (click)="forgotPassword(user)"
          ></i>
          <i
            class="fa-solid fa-user-group"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            style="color: rgb(46, 86, 216); margin-right: 10px"
            (click)="openCreateModifyUserGroupModal(user)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination
  [totalItems]="totalRows"
  [maxSize]="5"
  [itemsPerPage]="formGroupCreate.value.page_size"
  class="pagination-sm"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
  [boundaryLinks]="true"
  (pageChanged)="onChangedPage($event)"
  class="pull-right center"
  style="margin-top: 10px"
></pagination>
