<div class="row pt-5 pb-5">
  <div class="col-12 col-md-4 col-lg-3">
    <label>Tên ngân hàng</label>
    <input
      class="form-control form-control-sm form-control-solid"
      type="otp"
      [(ngModel)]="info.bank_name"
      name="otp"
      autocomplete="off"
      disabled
    />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <label>Số tài khoản nhận</label>
    <input
      class="form-control form-control-sm form-control-solid"
      type="otp"
      [(ngModel)]="info.account_number"
      name="otp"
      autocomplete="off"
      disabled
    />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <label>Tên người nhận</label>
    <input
      class="form-control form-control-sm form-control-solid"
      type="otp"
      [(ngModel)]="info.account_name"
      name="otp"
      autocomplete="off"
      disabled
    />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <label>Nội dung chuyển khoản</label>
    <div>
      <input
        class="form-control form-control-sm form-control-solid"
        value="Chuyen tien theo hop dong so {{ contract.contract_number }}"
        autocomplete="off"
        disabled
      />
    </div>
  </div>
</div>
<div class="d-flex">
  <div>
    <button
      type="button"
      class="btn btn-sm btn-success me-3 mt-3"
      (click)="openCreateModifyTransferModal()"
    >
      Thêm mới
    </button>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-sm btn-primary me-3 mt-3"
      (click)="op.toggle($event)"
    >
      QR Code
    </button>
  </div>
</div>
<p-overlayPanel #op>
  <ng-template pTemplate>
      <img [src]="info.QRCode" width="400px" alt="">
  </ng-template>
</p-overlayPanel>

<div class="table-responsive card-body py-4">
  <table
    class="table align-middle table-row-dashed fs-6 gy-5"
    id="kt_table_users"
  >
    <thead>
      <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
        <th class="min-w-20px">STT</th>
        <th class="min-w-125px">Ngân hàng</th>
        <th class="min-w-125px">Số tài khoản</th>
        <th class="min-w-125px">Số tiền chuyển</th>
        <th class="min-w-125px">Trạng thái</th>
        <th class="min-w-125px">Nội dung</th>
        <th class="min-w-100px action">Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
      <tr *ngFor="let transfer of transferList; let i = index">
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>{{ transfer.bank_name }}</td>
        <td>{{ transfer.bank_account }}</td>
        <td>{{ transfer.transfer_amount | number }}</td>
        <td
          [ngClass]="{
            pending: transfer.status == 1,
            complete: transfer.status == 2
          }"
        >
          {{ transfer.status_name }}
        </td>
        <td>{{ transfer.transfer_content }}</td>
        <td class="action">
          <!-- <i
            *ngIf="transfer.status == 1"
            class="fa-solid fa-circle-exclamation"
            pTooltip="Trạng thái chờ xác nhận"
            tooltipPosition="bottom"
            style="color: rgb(235, 160, 47); margin-right: 5px"
            (click)="changeStatusTransfer(transfer)"
          ></i>
          <i
            *ngIf="transfer.status == 2"
            class="fa-solid fa-circle-check"
            pTooltip="Trạng thái chờ xác nhận"
            tooltipPosition="bottom"
            style="color: rgb(27, 118, 204); margin-right: 5px"
          ></i> -->
          <i
            *ngIf="transfer.status !== 0"
            class="fa-solid fa-eye"
            style="color: rgb(88, 217, 37); margin-right: 10px"
            (click)="openCreateModifyTransferModal(transfer)"
          ></i>
          <i
            *ngIf="transfer.status === 0"
            class="fa-solid fa-pencil"
            style="color: rgb(27, 118, 204); margin-right: 10px"
            (click)="openCreateModifyTransferModal(transfer)"
          ></i>
          <!-- <i
            class="fa-solid fa-trash-arrow-up"
            *ngIf="transfer.status != 2"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            style="color: rgb(217, 37, 37); margin-right: 10px"
            (click)="deleteTransfer(transfer)"
          ></i> -->
        </td>
      </tr>
    </tbody>
  </table>

  <pagination
    [totalItems]="totalRows"
    [maxSize]="5"
    [itemsPerPage]="formGroupCreate.value.page_size"
    class="pagination-sm"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    [boundaryLinks]="true"
    (pageChanged)="onChangedPage($event)"
    class="pull-right center"
    style="margin-top: 10px"
  ></pagination>
</div>
<!-- <p-table [value]="transfers">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th class="text-center">Tên đợt chuyển tiền</th>
      <th class="text-center">Số tiền chuyển</th>
      <th class="text-center">Ngày chuyển</th>
      <th class="text-center">Ảnh giao dịch chuyển khoản</th>
      <th class="text-center">Thao tác </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transfer let-i="rowIndex">
    <tr>
      <td>
        {{ i + 1 }}
      </td>
      <td>
        <input class="form-control form-control-sm form-control-solid" type="otp" [(ngModel)]="transfer.name" name="otp"
          autocomplete="off" />
      </td>
      <td>
        <input class="form-control form-control-sm form-control-solid" type="otp" [(ngModel)]="transfer.amount"
          name="otp" autocomplete="off" />
      </td>
      <td>
        <p-calendar inputId="basic" styleClass="w-100 p-inputtext-sm" [(ngModel)]="transfer.date"></p-calendar>
      </td>
      <td class="text-center">

        <img src="https://s3.cloud.cmctelecom.vn/tinhte2/2020/08/5117481_02.png" height="90px" alt="">
      </td>
      <td class="text-center">
        <button pButton pRipple type="button" icon="pi pi-trash"
          class="p-button-danger p-button-sm p-button-success"></button>
      </td>
    </tr>
  </ng-template>
</p-table> -->
