<div class="" id="kt_modal_add_user" tabindex="-1">
  <div class="" style="margin: 0; width: 100%">
    <div class="modal-content">
      <div class="modal-header" id="kt_modal_add_user_header">
        <h2 *ngIf="!itemDetail" class="fw-bolder">Thêm mới người dùng</h2>
        <h2 *ngIf="itemDetail" class="fw-bolder">Sửa thông tin người dùng</h2>
        <div
          class="btn btn-icon btn-sm btn-active-icon-primary"
          data-kt-users-modal-action="close"
          (click)="close()"
        >
          <span class="svg-icon svg-icon-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                opacity="0.5"
                x="6"
                y="17.3137"
                width="16"
                height="2"
                rx="1"
                transform="rotate(-45 6 17.3137)"
                fill="black"
              />
              <rect
                x="7.41422"
                y="6"
                width="16"
                height="2"
                rx="1"
                transform="rotate(45 7.41422 6)"
                fill="black"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
        <form
          class=""
          [formGroup]="formGroupCreate"
          novalidate
          id="kt_modal_add_user_form"
          class="form"
          action="#"
        >
          <div
            class="d-flex flex-column me-n7 pe-7 form-wrap"
            id="kt_modal_add_user_scroll"
            data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto"
            data-kt-scroll-dependencies="#kt_modal_add_user_header"
            data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
            data-kt-scroll-offset="300px"
          >
            <!-- <div>{{ formGroupCreate.value | json }}</div> -->

            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="Admin_code">Ảnh đại diện</label>
              <div class="col-md-10">
                <upload-file
                  #fileUploadIcon
                  [type]="1"
                  [maxlength]="1"
                  [fileTitle]="'Ảnh'"
                >
                </upload-file>
              </div>
            </div>

            <div class="fv-row mb-7" *ngIf="!active">
              <label class="fw-bold fs-6 mb-2" for="Admin_code"
                >Mã người dùng</label
              >
              <input
                type="text"
                pInputText
                formControlName="code"
                class="form-control"
                placeholder="Mã người dùng"
              />
            </div>

            <div class="fv-row mb-7" *ngIf="!active">
              <label class="required fw-bold fs-6 mb-2" for="Admin_username"
                >Tên đăng nhập</label
              >
              <input
                type="text"
                pInputText
                formControlName="username"
                class="form-control"
                placeholder="Nhập tên đăng nhập"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['username']?.valid &&
                  formGroupCreate.controls['username']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('username')?.errors?.['required']"
                  style="color: red"
                  >Tên đăng nhập là bắt buộc</small
                >
                <small
                  *ngIf="formGroupCreate.get('username')?.errors?.['maxlength']"
                  style="color: red"
                  >Chiều dài tên đăng nhập không vượt quá 50 ký tự</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_full_name"
                >Tên hiển thị</label
              >
              <input
                type="text"
                pInputText
                formControlName="full_name"
                class="form-control"
                placeholder="Nhập tên hiển thị"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['full_name']?.valid &&
                  formGroupCreate.controls['full_name']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('full_name')?.errors?.['required']"
                  style="color: red"
                  >Tên hiển thị là bắt buộc</small
                >
                <small
                  *ngIf="formGroupCreate.get('full_name')?.errors?.['maxlength']"
                  style="color: red"
                  >Chiều dài tên đăng nhập không vượt quá 50 ký tự</small
                >
              </div>
            </div>

            <div class="fv-row mb-7" *ngIf="!itemDetail">
              <label class="required fw-bold fs-6 mb-2" for="Admin_password"
                >Mật khẩu</label
              >
              <input
                type="text"
                pInputText
                formControlName="password"
                class="form-control"
                placeholder="Nhập mật khẩu"
                autocomplete="false"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['password']?.valid &&
                  formGroupCreate.controls['password']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('password')?.errors?.['required']"
                  style="color: red"
                  >Mật khẩu là bắt buộc</small
                >
                <small
                  *ngIf="formGroupCreate.get('password')?.errors?.['minlength']"
                  style="color: red"
                  >Chiều dài mật khẩu không dưới 8 ký tự</small
                >
              </div>
            </div>

            <div class="fv-row mb-7" *ngIf="!itemDetail">
              <label class="required fw-bold fs-6 mb-2" for="Admin_pass_code"
                >Xác nhận mật khẩu</label
              >
              <input
                type="password"
                [(ngModel)]="confirmPassword.value"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                placeholder="Xác nhận mật khẩu"
                autocomplete="false"
              />
              <div *ngIf="confirmPassword.error == true">
                <small style="color: red" style="color: red"
                  >Mật khẩu không giống nhau!</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_email"
                >Email</label
              >
              <input
                type="text"
                pInputText
                formControlName="email"
                class="form-control"
                placeholder="Nhập email"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['email']?.valid &&
                  formGroupCreate.controls['email']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('email')?.errors?.['required']"
                  style="color: red"
                  >Email là bắt buộc</small
                >
                <small
                  *ngIf="formGroupCreate.get('email')?.errors?.['email']"
                  style="color: red"
                  >Email không đúng định dạng</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_phone_number"
                >Số điện thoại</label
              >
              <input
                type="text"
                pInputText
                formControlName="phone_number"
                class="form-control"
                placeholder="Nhập số điện thoại"
                (keypress)="numberOnly($event)"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['phone_number']?.valid &&
                  formGroupCreate.controls['phone_number']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('phone_number')?.errors?.['required']"
                  style="color: red"
                  >Số điện thoại là bắt buộc</small
                >
                <small
                  *ngIf="formGroupCreate.get('phone_number')?.errors?.['minlength']"
                  style="color: red"
                  >Số điện thoại không dưới 9 số</small
                >
                <small
                  *ngIf="formGroupCreate.get('phone_number')?.errors?.['maxlength']"
                  style="color: red"
                  >Số điện thoại không vượt quá 14 số</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_birthday"
                >Ngày sinh</label
              >
              <input
                class="form-control"
                formControlName="birthday"
                placeholder="Nhập ngày sinh"
                bsDatepicker
                [bsConfig]="{
                  dateInputFormat: 'DD-MM-YYYY',
                  returnFocusToInput: true
                }"
              />
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_sex"
                >Giới tính</label
              >
              <select
                name="sex"
                id="sex"
                formControlName="sex"
                class="form-control form-select"
              >
                <option [value]="null" disabled>Chọn giới tính</option>
                <option *ngFor="let s of listSex" [ngValue]="s.id">
                  {{ s.name }}
                </option>
              </select>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_is_active"
                >Trạng thái</label
              >
              <select
                name="is_active"
                id="is_active"
                formControlName="is_active"
                class="form-control form-select"
              >
                <option *ngFor="let s of listStatus" [ngValue]="s.status">
                  {{ s.name }}
                </option>
              </select>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_province_id"
                >Tỉnh thành</label
              >

              <select
                name="province_id"
                id="province_id"
                formControlName="province_id"
                class="form-control form-select"
                (change)="getDistrictByProvince($event)"
              >
                <option [value]="null" disabled>Chọn tỉnh thành</option>
                <option *ngFor="let s of provinces" value="{{ s.value }}">
                  {{ s.label }}
                </option>
              </select>
            </div>
            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_district_id"
                >Quận huyện</label
              >
              <select
                (change)="getWardsByDistrict($event)"
                name="status"
                id="status"
                formControlName="district_id"
                class="form-control form-select"
              >
                <option [value]="null" disabled>Chọn quận huyện</option>
                <option *ngFor="let s of districts" [value]="s.value">
                  {{ s.label }}
                </option>
              </select>
            </div>
            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_ward_id"
                >Phường xã</label
              >
              <select
                name="status"
                id="status"
                formControlName="ward_id"
                class="form-control form-select"
              >
                <option [value]="null" disabled>Chọn phường xã</option>
                <option *ngFor="let s of wards" [value]="s.value">
                  {{ s.label }}
                </option>
              </select>
            </div>

            <div class="fv-row mb-7">
              <label class="required fw-bold fs-6 mb-2" for="Admin_address"
                >Địa chỉ</label
              >
              <textarea
                formControlName="address"
                pInputTextarea
                id="Admin_address"
                class="form-control"
                name="page_key_word"
              >
              </textarea>
              <div
                *ngIf="
                  !formGroupCreate.controls['address']?.valid &&
                  formGroupCreate.controls['address']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('address')?.errors?.['required']"
                  style="color: red"
                  >Địa chỉ là bắt buộc</small
                >
              </div>
            </div>

            <div class="fv-row mb-7" [hidden]="true">
              <label class="required fw-bold fs-6 mb-2" for="Admin_birthday"
                >Ngày sinh</label
              >
              <input
                type="text"
                pInputText
                formControlName="is_active"
                class="form-control"
                placeholder="Nhập ngày sinh"
              />
            </div>
            <div class="fv-row mb-7" [hidden]="true">
              <label class="required fw-bold fs-6 mb-2" for="Admin_birthday"
                >Ngày sinh</label
              >
              <input
                type="text"
                pInputText
                formControlName="type"
                class="form-control"
                placeholder="Nhập ngày sinh"
              />
            </div>
          </div>
          <div class="text-center pt-15">
            <button
              type="reset"
              class="btn btn-light me-3"
              data-kt-users-modal-action="cancel"
              (click)="close()"
            >
              Thoát
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-kt-users-modal-action="submit"
              (click)="save()"
              [disabled]="!formGroupCreate.valid"
            >
              <span class="indicator-label">Lưu</span>
              <span class="indicator-progress"
                >Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
