<ng-container *ngIf="!loading">
  <ng-container *ngFor="let item of menuAuthen">
    <div class="menu-item" *ngIf="!item.hasChild">
      <a
        class="menu-link without-sub"
        routerLink="{{ item.routerLink }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="menu-icon">
          <!-- <span
            [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
            class="svg-icon svg-icon-2"
          ></span> -->
          <i class="{{ item.icon }}"></i>
        </span>
        <span class="menu-title"> {{ item.label }} </span></a
      >
    </div>

    <div
      *ngIf="item.hasChild"
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
    >
      <span class="menu-link"
        ><span class="menu-icon">
          <!-- <span
            class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
          ></span> -->
          <i class="{{ item.icon }}"></i> </span
        ><span class="menu-title" data-link="/error">{{ item.label }}</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item" *ngFor="let child of item.items">
          <a
            class="menu-link without-sub"
            routerLink="{{ child.routerLink }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">{{ child.label }}</span></a
          >
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
