<ng-container *ngIf="!!groupList">
  <div class="modal-content">
    <form [formGroup]="formGroupCreate" (ngSubmit)="save()" novalidate autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title">
          <h2>Chỉnh sửa nhóm phân quyền</h2>
        </h5>
        <div
        class="btn btn-icon btn-sm btn-active-icon-primary"
        data-kt-users-modal-action="close"
        (click)="close()"
      >
        <span class="svg-icon svg-icon-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect
              opacity="0.5"
              x="6"
              y="17.3137"
              width="16"
              height="2"
              rx="1"
              transform="rotate(-45 6 17.3137)"
              fill="black"
            />
            <rect
              x="7.41422"
              y="6"
              width="16"
              height="2"
              rx="1"
              transform="rotate(45 7.41422 6)"
              fill="black"
            />
          </svg>
        </span>
      </div>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="form-label" for="Admin_user">Quyền</label>
          <input type="string" class="form-control" placeholder="Quyền" value="{{role.name}} - {{role.code}}">
        </div>

        <div class="form-group">
          <h4>Nhóm</h4>
          <div class="wrap">
            <div class="item" style="padding: 5px" *ngFor="let control of groupArray.controls; let i = index;">
              <input class="form-check-input" [formControl]="control" type="checkbox" (change)="getSelectedGroup()"/>
              <label class="label" for="inlineCheckbox{{i}}">{{groupList[i].name}}: {{groupList[i].code}}</label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " (click)="close()">
          Bỏ qua
        </button>
        <button type="submit" class="btn btn-primary btn-smartgap">
          <i class="fa fa-save"></i>
          <span>Lưu</span>
        </button>
      </div>
    </form>
  </div>

</ng-container>
