<div class="row">
  <div class="col-12">
    <p-galleria
      [value]="fileItems"
      [(visible)]="displayCustom"
      [(activeIndex)]="activeIndex"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '850px' }"
      [numVisible]="7"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="fileItems.length > 1 ? true : false"
      [showThumbnails]="false"
      [baseZIndex]="100000"
      (click)="closeImage()"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="fileItems[activeIndex].url" style="width: 100%; display: block" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="fileItems[activeIndex].url" style="display: block" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="image-smg" *ngFor="let i of fileNumber">
      <div *ngIf="fileItems[i].hasContent" class="img-thumn" id="{{ i }}">
        <span class="icon_delete" (click)="onDeleted(i)">
          <i class="fa fa-times btn-danger-color red" style="color: red"></i>
        </span>
        <span>
          <img
            *ngIf="fileItems[i] && fileItems[i].fileType.toLowerCase() != 'svg'"
            [src]="fileItems[i].url"
            height="90"
            width="90"
            (click)="imageClick(i)"
          />

          <svg
            *ngIf="fileItems[i] && fileItems[i].fileType.toLowerCase() == 'svg'"
            width="90"
            height="90"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image
              width="90"
              height="90"
              [attr.xlink:href]="fileItems[i].url"
            ></image>
          </svg>
        </span>
      </div>
      <div
        *ngIf="!fileItems[i].hasContent"
        class="box_add_img_cnsp_Thongtinsp"
        (click)="browseFile(i); fileInput.click()"
      >
        <div class="add_img_cnsp_Thongtinsp">
          <img src="./assets/img/add_img_2.png" alt="" />
        </div>
        {{ fileTitle }}
      </div>
    </div>
  </div>
</div>

<span class="hidden-file">
  <input type="file" #fileInput (change)="onSelectFile($event)" />
</span>
