<div class="" id="kt_modal_add_user" tabindex="-1">
  <div class="" style="margin: 0; width: 100%">
    <div class="modal-content">
      <div class="modal-header" id="kt_modal_add_user_header">
        <h2 class="fw-bolder">Thông tin phiên chuyển tiền</h2>
        <div
          class="btn btn-icon btn-sm btn-active-icon-primary"
          data-kt-users-modal-action="close"
          (click)="close()"
        >
          <span class="svg-icon svg-icon-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                opacity="0.5"
                x="6"
                y="17.3137"
                width="16"
                height="2"
                rx="1"
                transform="rotate(-45 6 17.3137)"
                fill="black"
              />
              <rect
                x="7.41422"
                y="6"
                width="16"
                height="2"
                rx="1"
                transform="rotate(45 7.41422 6)"
                fill="black"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
        <!-- <div>{{formGroupCreate.value | json}}</div> -->
        <form
          class=""
          [formGroup]="formGroupCreate"
          novalidate
          id="kt_modal_add_user_form"
          class="form"
          action="#"
        >
          <div
            class="d-flex flex-column me-n7 pe-7 form-wrap"
            id="kt_modal_add_user_scroll"
            data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto"
            data-kt-scroll-dependencies="#kt_modal_add_user_header"
            data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
            data-kt-scroll-offset="300px"
          >
            <div class="fv-row mb-7" *ngIf="customerList !== null">
              <label class="fw-bold fs-6 mb-2" for="Admin_sex"
                >Khách hàng</label
              >
              <select
                name="customer_id"
                id="customer_id"
                formControlName="customer_id"
                class="form-select"
                disabled="true"
              >
                <option [value]="null" disabled>Chọn khách hàng</option>
                <option *ngFor="let s of customerList" [ngValue]="s.id">
                  {{ s.name }}
                </option>
              </select>

              <div
                *ngIf="
                  !formGroupCreate.controls['customer_id']?.valid &&
                  formGroupCreate.controls['customer_id']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('customer_id')?.errors?.['required']"
                  style="color: red"
                  >Khách hàng là bắt buộc</small
                >
              </div>
            </div>

            <div class="fv-row mb-7" *ngIf="contractList !== null">
              <label class="fw-bold fs-6 mb-2" for="contract_id">Hợp đồng</label>
              <select
                name="contract_id"
                id="contract_id"
                formControlName="contract_id"
                class="form-select"
                disabled="true"
              >
                <option [value]="null" disabled>Chọn hợp đồng</option>
                <option *ngFor="let s of contractList" [ngValue]="s.id">
                  {{ s.contract_number }}
                </option>
              </select>

              <div
                *ngIf="
                  !formGroupCreate.controls['contract_id']?.valid &&
                  formGroupCreate.controls['contract_id']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('contract_id')?.errors?.['required']"
                  style="color: red"
                  >Hợp đồng là bắt buộc</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="Admin_username"
                >Số tiền chuyển</label
              >

              <div class="col-12 md:col-7 lg:col-7 xl:col-7">
                <div class="p-inputgroup col-12 md:col-12 lg:col-12 xl:col-12">
                  <p-inputNumber
                    autocomplete="off"
                    inputId="locale-vie"
                    mode="decimal"
                    locale="vi-VN"
                    [minFractionDigits]="0"
                    aria-describedby="weight-help"
                    formControlName="transfer_amount"
                    placeholder="Số tiền cần chuyển"
                  >
                  </p-inputNumber>
                  <span class="p-inputgroup-addon">VNĐ</span>
                </div>
              </div>

              <div
                *ngIf="
                  !formGroupCreate.controls['transfer_amount']?.valid &&
                  formGroupCreate.controls['transfer_amount']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('transfer_amount')?.errors?.['required']"
                  style="color: red"
                  >Số tiền là bắt buộc</small
                >
              </div>
            </div>
            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="bank_name"
                >Tên ngân hàng</label
              >
              <input
                type="text"
                formControlName="bank_name"
                class="form-control"
                placeholder="Nhập tên ngân hàng"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['bank_name']?.valid &&
                  formGroupCreate.controls['bank_name']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('bank_name')?.errors?.['required']"
                  style="color: red"
                  >Tên ngân hàng là bắt buộc</small
                >
              </div>
            </div>
            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="bank_account"
                >Tài khoản ngân hàng</label
              >
              <input
                type="text"
                formControlName="bank_account"
                class="form-control"
                placeholder="Nhập tài khoản"
              />
              <div
                *ngIf="
                  !formGroupCreate.controls['bank_account']?.valid &&
                  formGroupCreate.controls['bank_account']?.touched
                "
              >
                <small
                  *ngIf="formGroupCreate.get('bank_account')?.errors?.['required']"
                  style="color: red"
                  >Tài khoản ngân hàng là bắt buộc</small
                >
              </div>
            </div>

            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="Admin_code"
                >Nội dung giao dịch</label
              >
              <input
                type="text"
                formControlName="transfer_content"
                class="form-control"
                placeholder="Nội dung giao dịch"
                [disabled]="formDisabled"
              />
            </div>

            <div class="fv-row mb-7">
              <label class="fw-bold fs-6 mb-2" for="Admin_code">Hình Ảnh</label>
              <div class="col-md-10">
                <upload-file
                  #fileUploadIcon
                  [type]="1"
                  [maxlength]="1"
                  [fileTitle]="'Ảnh'"
                >
                </upload-file>
              </div>
            </div>
          </div>

          <div class="text-center pt-15">
            <button
              type="reset"
              class="btn btn-light me-3"
              data-kt-users-modal-action="cancel"
              (click)="close()"
            >
              Thoát
            </button>

            <button
              *ngIf="formOption !== 'show'"
              type="submit"
              class="btn btn-primary"
              data-kt-users-modal-action="submit"
              (click)="save()"
            >
              <span class="indicator-label">Lưu</span>
              <span class="indicator-progress"
                >Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
