<div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Cấu hình</h3>
        </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
        <form [formGroup]="formConfig" novalidate autocomplete="off" (ngSubmit)="save()">
            <div class="card-body border-top p-9">
                <div class="container">
                    <div class="row mb-6 justify-content-md-center">
                        <label class="col-lg-2 col-form-label fw-bold fs-6"><span class="required">Tên chủ tài
                                khoản</span></label>
                        <div class="col-lg-10">
                            <input type="text" pInputText formControlName="account_name" class="form-control"
                                placeholder="Tên chủ tài khoản" />
                            <div *ngIf="
                                  !formConfig.controls['account_name']?.valid &&
                                  formConfig.controls['account_name']?.touched
                                ">
                                <small *ngIf="formConfig.get('account_name')?.errors?.['required']"
                                    style="color: red">Tên chủ tài khoản là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6 justify-content-md-center">
                        <label class="col-lg-2 col-form-label fw-bold fs-6"><span class="required">Ngân
                                hàng</span></label>
                        <div class="col-lg-10">
                            <input type="text" pInputText formControlName="bank_name" class="form-control"
                                placeholder="Ngân hàng" />
                            <div *ngIf="
                                !formConfig.controls['bank_name']?.valid &&
                                formConfig.controls['bank_name']?.touched
                              ">
                                <small *ngIf="formConfig.get('bank_name')?.errors?.['required']" style="color: red">Tên
                                    chủ tài khoản là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6 justify-content-md-center">
                        <label class="col-lg-2 col-form-label fw-bold fs-6"><span class="required">Số tài
                                khoản</span></label>
                        <div class="col-lg-10 fv-row">
                            <input type="text" pInputText formControlName="account_number" class="form-control"
                                placeholder="Số tài khoản" />
                            <div *ngIf="
                                !formConfig.controls['account_number']?.valid &&
                                formConfig.controls['account_number']?.touched
                              ">
                                <small *ngIf="formConfig.get('account_number')?.errors?.['required']" style="color: red">Tên
                                    chủ tài khoản là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6 justify-content-md-center">
                        <label class="col-lg-2 col-form-label fw-bold fs-6">Ảnh
                            Qrcode</label>
                        <div class="col-lg-10 fv-row">
                            <upload-file #fileUploadIcon [type]="1" [maxlength]="1" [fileTitle]="'Ảnh'">
                            </upload-file>
                        </div>
                    </div>
                    <div class="row mb-6 justify-content-md-center">
                        <label class="col-lg-2 col-form-label fw-bold fs-6">Ghi
                            chú</label>
                        <div class="col-lg-10 fv-row">
                            <textarea pInputTextarea [rows]="4" type="text" pInputText formControlName="note"
                                class="form-control" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex container justify-content-end py-6 px-9">
                <button type="submit" class="btn btn-primary">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>