<h1>Quản lý dữ liệu kinh doanh</h1>
<hr />
<div class="wrap">
  <form [formGroup]="formGroupCreate" class="form-wrap col-12">
    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <h6 class="col-12 col-form-label fw-bold fs-6">Từ ngày</h6>
      <p-calendar
        inputId="basic"
        [showTime]="true"
        [showIcon]="true"
        class="col-12"
        [(ngModel)]="filter.start_date"
        formControlName="start_date"
      ></p-calendar>
    </div>

    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <h6 class="col-12 col-form-label fw-bold fs-6">Đến ngày</h6>
      <p-calendar
        inputId="basic"
        [showTime]="true"
        [showIcon]="true"
        class="col-12"
        [(ngModel)]="filter.end_date"
        formControlName="end_date"
      ></p-calendar>
    </div>

    <div
      class="row col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 col-xxl-6 mb-6 search"
    >
      <button type="button" class="btn btn-primary" (click)="search()">
        <ng-container>Tìm kiếm</ng-container>
      </button>
    </div>
  </form>
</div>
<div class="list-item">
  <div>
    <h2 class="m-0">Danh sách dữ liệu kinh doanh</h2>
  </div>
  <div class="create">
    <button
      type="button"
      class="btn btn-success"
      (click)="openCreateModifyCategoryModal(null)"
    >
      Thêm mới
    </button>
  </div>
</div>
<div class="table-responsive card-body py-4">
  <table
    class="table align-middle table-row-dashed fs-6 gy-5"
    id="kt_table_users"
  >
    <thead>
      <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
        <th class="min-w-20px">STT</th>
        <th class="min-w-125px">Doanh thu</th>
        <th class="min-w-125px">Lợi nhuận</th>
        <th class="min-w-125px">Vốn</th>
        <th class="min-w-125px">Chi phí</th>
        <th class="min-w-125px">Ngày báo cáo</th>
        <th class="min-w-100px action">Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
      <tr *ngFor="let category of categoryList; let i = index">
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>{{ category.revenue | number }}</td>
        <td>{{ category.profit | number }}</td>
        <td>{{ category.funds | number }}</td>
        <td>{{ category.cost | number }}</td>
        <td>{{ category.date | date: "dd/MM/yyyy hh:mm:ss" }}</td>
        <td class="action">
          <i
            class="fa-solid fa-highlighter"
            style="color: rgb(40, 122, 209); margin-right: 5px"
            (click)="openCreateModifyCategoryModal(category)"
          ></i>
          <!-- <i
            class="fa-solid fa-eye"
            style="color: rgb(88, 217, 37); margin-right: 10px"
            (click)="openCreateModifyCategoryModal(category)"
          ></i> -->

          <i
            class="fa-solid fa-trash-arrow-up"
            style="color: rgb(207, 41, 35); margin-right: 10px"
            (click)="deleteCategory(category)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination
  [totalItems]="totalRows"
  [maxSize]="5"
  [itemsPerPage]="formGroupCreate.value.page_size"
  class="pagination-sm"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
  [boundaryLinks]="true"
  (pageChanged)="onChangedPage($event)"
  class="pull-right center"
  style="margin-top: 10px"
></pagination>
