<h1>Thông tin khách hàng</h1>
<hr />
<div class="wrap">
  <form [formGroup]="customerForm" class="form-wrap col-12">
    <div class="row">
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Tên doanh nghiệp </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Tên khách hàng </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Tên đăng nhập </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Mã số thuế </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Ngày sinh </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Số CMT/CCCD </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Số điện thoại </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Địa chỉ</label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Tổng số tiền đầu tư </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Số tiền đã thanh toán </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Số tiền còn phải thanh toán </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
      <div class="col-3">
        <label class="col-lg-12 col-form-label fw-bold fs-6"> Số cổ phiếu </label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="lName"
          formControlName="keyword"
        />
      </div>
    </div>

    <!-- <div class="row col-6 mb-6 search">
      <button type="button" class="btn btn-primary">Lưu lại</button>
    </div> -->
  </form>
</div>
