<div
  class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
  style="background-image: url('./assets/media/illustrations/sketchy-1/14.png');min-height: 100vh;"
>
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <a routerLink="/" class="mb-12">
      <div class="h-45px"></div>
    </a>

    <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6">
      <a class="text-muted text-hover-primary px-2 cursor-pointer"
        >Về chúng tôi</a
      >
      <a class="text-muted text-hover-primary px-2 cursor-pointer">Liên lạc</a>
      <a class="text-muted text-hover-primary px-2 cursor-pointer">Liên hệ</a>
      <a routerLink="/auth/admin-login" class="text-muted text-hover-primary px-2 cursor-pointer">Quản trị hệ thống</a>
    </div>
  </div>
</div>
