<ng-container *ngIf="!!itemList">
  <div class="modal-content">
    <form [formGroup]="formGroupCreate" novalidate autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title">
          <h2 *ngIf="!user">Chỉnh sửa người dùng của nhóm</h2>
          <h2 *ngIf="user">Chỉnh sửa nhóm của người dùng</h2>
        </h5>
        <div
          class="btn btn-icon btn-sm btn-active-icon-primary"
          data-kt-users-modal-action="close"
          (click)="close()"
        >
          <span class="svg-icon svg-icon-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                opacity="0.5"
                x="6"
                y="17.3137"
                width="16"
                height="2"
                rx="1"
                transform="rotate(-45 6 17.3137)"
                fill="black"
              />
              <rect
                x="7.41422"
                y="6"
                width="16"
                height="2"
                rx="1"
                transform="rotate(45 7.41422 6)"
                fill="black"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!!user">
          <div class="form-group">
            <label class="form-label" for="Admin_user">Người dùng</label>
            <input
              type="string"
              class="form-control"
              placeholder="Người dùng"
              value="{{ user.username }} - {{ user.code }}"
              disabled="true"
            />
          </div>

          <div class="form-group">
            <h4>Nhóm</h4>
            <div class="wrap">
              <div
                style="padding: 5px"
                class="item"
                *ngFor="let control of groupArray.controls; let i = index"
              >
                <input
                  [formControl]="control"
                  type="checkbox"
                  (change)="getSelectedGroup()"
                  class="form-check-input"
                />
                <label class="label" for="inlineCheckbox{{ i }}"
                  >{{ itemList[i].name }}: {{ itemList[i].code }}</label
                >
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="group">
          <div class="form-group">
            <label class="form-label" for="Admin_user">Nhóm</label>
            <input
              type="string"
              class="form-control"
              placeholder="Nhóm"
              value="{{ group.name }} - {{ group.code }}"
              disabled="true"
            />
          </div>

          <div class="form-group">
            <h4>Người dùng</h4>
            <div class="wrap">
              <div
                class="item"
                style="padding: 5px"
                *ngFor="let control of userArray.controls; let i = index"
              >
                <input
                  [formControl]="control"
                  type="checkbox"
                  (change)="getSelectedUser()"
                  class="form-check-input"
                />
                <label class="label" for="inlineCheckbox{{ i }}"
                  >{{ itemList[i].username }}: {{ itemList[i].code }}</label
                >
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="close()">
          Bỏ qua
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-smartgap"
          (click)="save()"
        >
          <i class="fa fa-save"></i>
          <span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</ng-container>
