<div class="document-container" style="font-family: 'Times New Roman'">
  <h1
    style="
      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
      margin-bottom: 30px;
      font-size: 30px;
    "
  >
    Bài giới thiệu công ty
  </h1>
  <h2 style="font-size: 23px; margin-bottom: 15px; text-transform: uppercase">
    TẦM NHÌN – SỨ MỆNH – CHIẾN LƯỢC
  </h2>
  <p style="font-size: 20px">
    Công ty cổ phần holding Smartgap, tiền thân là công ty cổ phần công nghệ
    Smartgap, Trải qua những năm, tháng hoạt động và phát triển Với tôn chỉ
    “Cùng hợp tác, sáng tạo và chia sẻ để thành công”, Smartgap đã không ngừng
    nỗ lực, sáng tạo, hợp tác và chia sẻ trong mọi lĩnh vực kinh doanh. Smartgap
    định hướng trở thành đơn vị uy tín, đẳng cấp và chuyên nghiệp  hàng đầu Việt
    Nam Smartgap luôn nhạy bén, đi đầu trong việc nắm bắt, giới thiệu, cung cấp
    thiết bị hiện đại, dịch vụ kỹ thuật cao, giải pháp tích hợp và chuyển giao
    công nghệ, trở thành một trong số ít các công ty có lĩnh vực hoạt động vừa
    đa dạng vừa chuyên sâu, được đối tác và khách hàng tín nhiệm về các lĩnh vực
    như công nghệ, triển khai các dự án phần mềm bán hàng, phần mềm quản lý nhân
    sự, … sản xuất khẩu trang, thiết bị y tế phòng dịch, truy xuất nguồn gốc
    nông sản. Ngoài ra Để hỗ trợ cho các đơn vị truy xuất công ty còn xây dựng
    kênh bán lẻ với mục tiêu tiêu thụ nông sản của người sản xuất tới tay người
    tiêu dùng ngắn nhất.
  </p>
  <h3
    style="
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 15px;
    "
  >
    Tầm nhìn
  </h3>
  <p style="font-size: 20px; margin-bottom: 20px">
    Trở thành biểu tượng niềm tin hàng đầu Việt Nam về cung cấp các giải pháp
    công nghệ, sàn TMĐT, sản xuất, bán lẻ, truy xuất nguồn gốc nông sản,
    logistic, xuất khẩu nhằm nâng cao vị thế doanh nghiệp Việt trên trường quốc
    tế.
  </p>
  <h2 style="color: #ff6500; text-transform: uppercase; font-size: 25px">
    Sứ mệnh:
  </h2>
  <div style="font-size: 20px">
    <ul style="padding-left: 50px">
      <li>
        <i style="color: #ff6500; font-weight: bold; font-size: 20px"
          >Đối với khách hàng:  </i
        >Cung cấp cho khách hàng những sản phẩm chất lượng cao,có thương hiệu
        bằng uy tín và cam kết chuyên nghiệp, voi dịch vụ toàn diện và tận tình
        chu đáo. 
      </li>
      <li>
        <i style="color: #ff6500; font-weight: bold; font-size: 20px"
          >Đối với cán bộ & nhân viên:</i
        >Tạo lập môi trường làm việc, đảm bảo cho từng nhân viên luôn chuyên
        nghiệp,văn minh, lành mạnh, đoàn kết, và hiệu quả, tạo cảm hứng cho mỗi
        cá nhân đam mê sáng tạo mang bản sắc văn hóa đặc sắc cho SMARTGAP. 
      </li>
      <li>
        <i style="color: #ff6500; font-weight: bold; font-size: 20px"
          >Đối với cổ đông: </i
        >Tối đa hóa giá trị đầu tư cho cổ đông, nâng cao năng lực cạnh tranh, vị
        thế thương hiệu và sự tăng trưởng bền vững của tổ chức., mang lại lợi
        nhuận bền vững và liên tục tăng trưởng.
      </li>
      <li>
        <i style="color: #ff6500; font-weight: bold; font-size: 20px"
          >Đối với Cộng đồng:
        </i>
        Sáng tạo không ngừng để tạo ra giá trị gia tăng cho xã hội, luôn luôn
        phát triển và gìn giữ phát huy, chia sẻ các nét văn hóa cho một cộng
        đồng có môi trường sống thân thiện, giàu tính nhân văn, bản sắc riêng,
        đem lại giá trị vật chất và tinh thần cho cộng đồng.
      </li>
    </ul>
  </div>
  <h2 style="color: #905e00; text-transform: uppercase; font-size: 25px">
    Giá trị cốt lõi
  </h2>
  <div style="font-size: 20px">
    <ul style="padding-left: 50px">
      <li>
        <i style="color: #905e00; font-weight: bold; font-size: 20px"
          >Chân thành: </i
        >Với phương châm” khách hàng như người thân”  Chúng tôi hiểu mọi mối
        quan hệ bền vững hiệu quả đều cần dựa trên thái độ sống chân thành.
      </li>
      <li>
        <i style="color: #905e00; font-weight: bold; font-size: 20px"
          >Trách nhiệm: </i
        >Để trở thành một doanh nghiệp hàng đầu, không có con đường nào khác
        ngoài tinh thần phục vụ đầy trách nhiệm đối với khách hàng và xã hội.
      </li>
      <li>
        <i style="color: #905e00; font-weight: bold; font-size: 20px"
          >Hợp tác: </i
        > Muốn thành công, doanh nghiệp cần hợp tác, hỗ trợ lẫn nhau vì lợi ích
        và mục tiêu phát triển chung.
      </li>
      <li>
        <i style="color: #905e00; font-weight: bold; font-size: 20px"
          >Chia sẻ: 
        </i>
        Xã hội luôn tôn vinh trân trọng những con người và doanh nghiệp luôn quan tâm và chia sẻ với cộng đồng. Ý nghĩa cao cả nhất của cuộc sống và lao động không phải là chỉ tạo ra lợi ích cho riêng mình.
      </li>
      <li>
        <i style="color: #905e00; font-weight: bold; font-size: 20px"
          >Sáng tạo vượt trội: 
        </i>
        Sự sáng tạo của mỗi người sẽ là nguồn tài nguyên không bao giờ cạn kiệt giúp doanh nghiệp phát triển và trường tồn.  Sự sáng tạo giúp chúng tôi tạo ra những giá trị vượt trội, và giá trị đó làm nền cho doanh nghiệp phát triển liên tục và tích cực.
      </li>
    </ul>
  </div>
</div>
