<h1>Quản lý khách hàng</h1>
<hr />
<div class="wrap">
  <form [formGroup]="formGroupCreate" class="form-wrap col-12">
    <div class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item">
      <label class="col-12 col-form-label fw-bold fs-6"> Từ khóa </label>
      <input
        type="text"
        pInputText
        class="form-control col-12"
        placeholder="Từ khóa"
        name="lName"
        formControlName="keyword"
        (keyup.enter)="search()"
      />
    </div>

    <div class="row col-12 col-sm-6 col-md-8 col-lg-8 col-xl-9 col-xxl-9 mb-6 search">
      <button type="button" class="btn btn-primary" (click)="search()">
        <ng-container>Tìm kiếm</ng-container>
      </button>
    </div>
  </form>
</div>
<div class="list-item">
  <div>
    <h2 class="m-0">Danh sách khách hàng</h2>
  </div>
</div>
<div class="table-responsive card-body py-4">
  <table
    class="table align-middle table-row-dashed fs-6 gy-5"
    id="kt_table_users"
  >
    <thead>
      <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
        <th class="min-w-20px">STT</th>
        <th class="min-w-125px">Ảnh đại diện</th>
        <th class="min-w-125px">Tên khách hàng</th>
        <th class="min-w-125px">Số CMT/CCCD</th>
        <th class="min-w-125px">Địa chỉ</th>
        <th class="min-w-125px">Số điện thoại</th>
        <th class="min-w-125px">Ngày sinh</th>
        <th class="min-w-100px action">Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
      <tr *ngFor="let customer of customerList; let i = index">
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>
          <img
            *ngIf="customer.image"
            style="
              width: 50px;
              height: 50px;
              border-radius: 50%;
              cursor: pointer;
            "
            src="{{ url }}{{ customer.image?.path }}"
            alt=""
            (click)="showImage(i)"
          />
          <app-zoom-image
            *ngIf="showZoomImage == i + 1"
            [fileItems]="[customer.image]"
            (dataReturn)="handleData(data)"
          ></app-zoom-image>
          <img
            *ngIf="!customer.image"
            style="width: 50px; height: 50px; border-radius: 50%"
            src="./../../../../../../assets/media/avatars/user.jpg"
            alt=""
          />
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.identity }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.birthday | date: "dd/MM/yyyy" }}</td>
        <td class="action">
          <!-- <i
            class="fa-solid fa-highlighter"
            pTooltip="Chỉnh sửa phiếu"
            tooltipPosition="bottom"
            style="color: rgb(40, 122, 209); margin-right: 5px"
            (click)="openCreateModifyCustomerModal(customer)"
          ></i> -->
          <i
            class="fa-solid fa-eye"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            style="color: rgb(88, 217, 37); margin-right: 10px"
            (click)="openCreateModifyCustomerModal(customer)"
          ></i>

          <!-- <i
            class="fa-solid fa-trash-arrow-up"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            style="color: rgb(207, 41, 35); margin-right: 10px"
            (click)="deleteCustomer(customer)"
          ></i> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination
  [totalItems]="totalRows"
  [maxSize]="5"
  [itemsPerPage]="formGroupCreate.value.page_size"
  class="pagination-sm"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
  [boundaryLinks]="true"
  (pageChanged)="onChangedPage($event)"
  class="pull-right center"
  style="margin-top: 10px"
></pagination>
