<h1>Quản lý cửa hàng</h1>
<hr />
<div class="wrap">
  <form [formGroup]="formGroupCreate" class="form-wrap col-12">
    <!-- <div>{{ formGroupCreate.value | json }}</div> -->
    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <label class="col-12 col-form-label fw-bold fs-6"> Từ khóa </label>
      <input
        type="text"
        pInputText
        class="form-control col-12"
        placeholder="Từ khóa"
        name="lName"
        formControlName="keyword"
        (keyup.enter)="search()"
      />
    </div>

    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <label class="col-12 col-form-label fw-bold fs-6"> Trạng thái </label>

      <p-dropdown
        class="col-12"
        [options]="statusStore"
        formControlName="status"
        (onChange)="search()"
        placeholder="Chọn trạng thái"
        [showClear]="true"
      ></p-dropdown>
    </div>

    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mb-6 item"
    >
      <label class="col-12 col-form-label fw-bold fs-6"> Loại cửa hàng </label>

      <p-dropdown
        class="col-12"
        [options]="typeStore"
        formControlName="type"
        (onChange)="search()"
        placeholder="Chọn loại cửa hàng"
        [showClear]="true"
      ></p-dropdown>
    </div>

    <div
      class="row col-12 col-sm-6 col-md-4 col-lg-12 col-xl-3 col-xxl-3 mb-6 search"
    >
      <button type="button" class="btn btn-primary" (click)="search()">
        <ng-container>Tìm kiếm</ng-container>
      </button>
    </div>
  </form>
</div>
<div class="list-item">
  <div>
    <h2 class="m-0">Danh sách cửa hàng</h2>
  </div>
  <div class="create" *appHasRole="['CATEGORYSTORECREATE']">
    <button
      type="button"
      class="btn btn-success"
      (click)="openCreateModifyCategoryModal(null)"
    >
      Thêm mới
    </button>
  </div>
</div>
<div class="table-responsive card-body py-4">
  <table
    class="table align-middle table-row-dashed fs-6 gy-5"
    id="kt_table_users"
  >
    <thead>
      <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
        <th class="min-w-20px">STT</th>
        <th class="min-w-125px">Tên cửa hàng</th>
        <th class="min-w-125px">Giá trị đầu tư</th>
        <th class="min-w-125px">Giá trị hiện tại</th>
        <th class="min-w-125px">Địa chỉ</th>
        <th class="min-w-125px">Ngày khai trương</th>
        <th class="min-w-125px">Loại cửa hàng</th>
        <th class="min-w-100px action">Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
      <tr *ngFor="let category of categoryList; let i = index">
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.capital_value | number }}</td>
        <td>{{ category.brand_value | number }}</td>
        <td>{{ category.address }}</td>
        <td>{{ category.opening_day | date: "dd/MM/yyyy" }}</td>
        <td>
          {{ category.type_name }}
        </td>
        <td class="action">
          <i
            *appHasRole="['CATEGORYSTOREMODIFY']"
            class="fa-solid fa-highlighter"
            style="color: rgb(40, 122, 209); margin-right: 5px"
            (click)="openCreateModifyCategoryModal(category)"
          ></i>
          <i
            class="fa-solid fa-eye"
            style="color: rgb(88, 217, 37); margin-right: 10px"
            (click)="viewDetailCategoryStore(category)"
          ></i>

          <i
            *appHasRole="['CATEGORYSTOREDELETE']"
            class="fa-solid fa-trash-arrow-up"
            style="color: rgb(207, 41, 35); margin-right: 10px"
            (click)="deleteCategory(category)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination
    [totalItems]="totalRows"
    [maxSize]="5"
    [itemsPerPage]="formGroupCreate.value.page_size"
    class="pagination-sm"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    [boundaryLinks]="true"
    (pageChanged)="onChangedPage($event)"
    class="pull-right center"
    style="margin-top: 10px"
  ></pagination>
</div>
