.wrap {
  width: 100%;
  height: auto;

  .form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;

    .search{
      display:flex;
      justify-content: flex-end;
      align-items: center;

      button{
        width: 110px;
      }
    }
  }
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th, td{
  text-transform:capitalize;
}

.action{
  display:flex;
  justify-content: center;
  align-items: center;

  .fa-solid{
    margin: 2px;
    font-size: 18px;
  }
}
